<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Tutoring Università</h1>
    <h2>
      Registra un nuovo Tutor!
    </h2>
    
    <div id="newTutor">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" >
    </div>
    <div>
      <label for="surname">Cognome</label>
      <input type="text" id="surname" name="name" >
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" >
    </div>
    <div>
      <label for="universita">Università</label>
      <input type="text" id="universita" name="universita" list="nome-universita" autocomplete= "on">
    </div>
    <div>
      <label for="corso">Corso di Studi</label>
      <input type="text" id="corso" name="corso" >
    </div>
    <br>
    <button type="button" id="newValue" onclick= "addTutor()" >Aggiungi</button>
  </body>

    <script>
    async function addTutor(){
      const newTutor = ({
        id: Date.now().toString(),
        name : document.getElementById("name").value,
        surname : document.getElementById("surname").value,
        email : document.getElementById("email").value,
        universita : document.getElementById("universita").value,
        corso : document.getElementById("corso").value,
        esami:[] 
      })
      
      const options = {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify(newTutor),
      };
      
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/addTutor', options)
      .then(response => {
        response.json();
        alert("Nuovo tutor aggiunto!");
      })
      .catch(e => {
          console.log(e);
      });
    }
  </script>
  
<datalist id="nome-università">
  <option value="Università Politecnica delle Marche"></option>
        <option value="Università degli Studi di Camerino"></option>
        <option value="Università degli Studi di Macerata"></option>
        <option value="Università degli Studi di Urbino "></option>
        <option value="Università degli Studi di Ferrara "></option>
</datalist>
  
</html>