<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <style>
      th{ 
          color:#fff;
              }
  </style>
  
  <body>
    <form action="" id="searchTutor">
      <div>
        <div>
          <div>
            <!label for= "search" Cerca Tutor<!/label><br>
            <input class = "" type = "text" id = "searchValue" placeholder = "Cerca">
            <input type="button" onclick="setFilter(0);" value="filtroNome" />
            <input type="button" onclick="setFilter(3);" value="filtroCognome" />
            <input type="button" onclick="setFilter(1);" value="filtroUni" />
            <input type="button" onclick="setFilter(2);" value="filtroCorso" />
            <button class = "btnSearch" type="button" id="btnSearch" onclick="searchTutors()"> <i class="material-icons">person_search</i></button>
          </div>  
        </div>
      </div>

      <table class="table table-striped">
          <tr  class="bg-info">
              <th>Nome</th>
              <th>Cognome</th>
              <th>Email</th>
          </tr>

          <tbody id="myTable">

          </tbody>
      </table>
    </form>
  </body>

  <script>
    
    //FUNZIONE PER RICERCARE UN TUTOR
    async function searchTutors(){
      const searchValue = document.getElementById("searchValue").value;
      
      if(!searchValue){
        alert("Inserire uno tutor.");
        return;
      }
      
      //opzioni per la fetch
      const options = {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        }
      };
      
      //eseguo la fetch
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/searchTutor'+ searchValue, options)
      .then((response) => {
        if (response.ok) {
          alert("Nuovo tutor aggiunto!");
          return response.json();
        }
        alert('ERROR '+ response.status +'!Something went wrong!');
      })
      .catch(e => {
          console.log(e);
      });
      //pulisce la form
      document.getElementById("searchTutor").reset();
    }
    
    var myArray = []

    buildTable(myArray)
    
    $.ajax({
      method:'GET',
      url:"https://progetto-piattaforme-territorio.glitch.me/printAll",
      success: function(responce){
        myArray = responce;
        buildTable(myArray);
        console.log(myArray)
      }
    })

    function setFilter(value){
      localStorage.setItem("filtro", value);
    }


    function buildTable(data){
      var table = document.getElementById('myTable')

      for (var i = 0; i < data.length; i++){
        var row = `<tr>
                <td>${data[i].name}</td>
                <td>${data[i].surname}</td>
                <td>${data[i].email}</td>
                <td><button>Visualizza</td>
              </tr>`
        table.innerHTML += row


      }
    }

  </script>
</html>
    