<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/table.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <style>
      th{ 
          color:#fff;
              }
  </style>
  
  <body>
    <form action="" id="searchTutor">
      <div>
        <div>
          <div>
            <!label for= "search" Cerca Tutor<!/label><br>
            <input class = "" type = "text" id = "searchValue" placeholder = "Cerca">
            <button class = "btnSearch" type="button" onclick="searchTutors()" id="btnSearch"> <i class="material-icons">person_search</i></button><br>
            <input type="button" onclick="setFilter(1)" value="Nome" />
            <input type="button" onclick="setFilter(4)" value="Cognome" />
            <input type="button" onclick="setFilter(2)" value="Università" />
            <input type="button" onclick="setFilter(3)" value="Corso" />
          </div>  
        </div>
      </div>

      <table id = "tableThread">
          <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Email</th>
          </tr>

          <tbody id="myTable">

          </tbody>
      </table>
    </form>
  </body>

  <script>
    var myArray = []
    //valori di default nel momento del caricamento della pagina
    localStorage.setItem("defaultFilter", 0);
    localStorage.setItem("defaultSearchValue", " ");
    
    sessionStorage.setItem("filter", localStorage.defaultFilter);
    sessionStorage.setItem("searchValue", "none ");
    
    $.ajax({
      method:'GET',
      url:'https://progetto-piattaforme-territorio.glitch.me/printAll' ,
      success: function(response){
        myArray = response;
        buildTable(myArray);
        console.log(myArray)
      }
    })
    
    //FUNZIONE PER RICERCARE UN TUTOR
    async function searchTutors(){
      sessionStorage.setItem("searchValue", document.getElementById("searchValue").value);
      
      if(!searchValue){
        alert("Inserire uno tutor.");
        return;
      }
      
      //opzioni per la fetch
      const options = {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        }
      };
      
      //eseguo la fetch
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/searchTutors/'+sessionStorage.filter+'/'+ sessionStorage.searchValue, options)
      .then((response) => {
        if (response.ok) {
          alert("La ricerca ha prodotto risultati!");
          return response.json();
        }
        alert('ERROR!Something went wrong!');
      })
      .then(data =>{
        myArray = data;
        buildTable(myArray);
        console.log(myArray)
      })
      .catch(e => {
          console.log(e);
      });
      //pulisce la form
      document.getElementById("searchTutor").reset();
    }
    
    function setFilter(value){
      sessionStorage.setItem("filter", value);
    }
    
    function setSearchValue(){
      sessionStorage.setItem("searchValue",document.getElementById("searchValue").value );
    }

    function buildTable(data){
      var table = document.getElementById('myTable')
      $("#myTable").empty();

      for (var i = 0; i < data.length; i++){
        var row = `<tr>
                <td>${data[i].name}</td>
                <td>${data[i].surname}</td>
                <td>${data[i].email}</td>
                <td><button>Visualizza</td>
              </tr>`
        table.innerHTML += row


      }
    }

  </script>
</html>
    