<html>
  <head>
    <script defer src="server.js"></script>
  </head>

  <body>
    <h1>Tutoring Università</h1>
    <h2>
      Ricerca Tutor da eliminare
    </h2>
    
    <div>
      <label for= "search"> Cerca Tutor</label><br>
      <input type = "search" id = " search" data-search>
      <button> Cerca</button>
    </div>
  </body>
  
</html>