<html>
  <head>
  </head>

  <body>
    <h1>Tutoring Università</h1>
    <h2>
      Ricerca un Tutor Adatto a Te
    </h2>
    
    <div>
      <label for= "search"> Cerca Tutor</label><br>
      <input type = "search" id = " search" data-search>
      <button id = btn1> Cerca</button>
    </div>
    
    <div></div>
    <template data-user-template>
      <div class="card">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
      </div>
    </template>
    <br>
    
    <hr> 
    <div>
      <div>
        <p> Vuoi aggiungere un tutor? <a href="/register">Aggiungi Tutor</a></p>
      </div>
      <hr>
      <p> Vuoi eliminare un tutor? <a href="/login">Elimina Tutor</a></p>
    </div>
  </body>
  
</html>