 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Tutoring Università</h1>
    <h2>
      Ricerca un Tutor Adatto a Te
    </h2>
    
    <div>
      <label for= "search"> Cerca Tutor</label><br>
      <input type = "text" id = "researchValue" placeholder = "Cerca">
      <button type="button" id="btn1" onclick="researchTutors()"> Cerca</button>
    </div>
    <br>
    
    <! Aggiunta di un nuovo tutor nel database>
    <hr> 
    <h2>
      Registra un nuovo Tutor
    </h2>

    <form action="" id="addTutor">
      <div>
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" >
      </div>
      <div>
        <label for="surname">Cognome</label>
        <input type="text" id="surname" name="name" >
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" >
      </div>
      <div>
        <label for="universita">Università</label>
        <input list="nome-università" name="universita" id="universita">
        <!input list="nome-universita" id="universita" name="universita" autocomplete= "on">
      </div>
      <div>
          <label for="corso">Corso di Studi</label>
          <input type="text" id="corso" name="corso" >
        </div>
        <br>
        <button type="button" id="newValue" onclick= "addTutor()" >Aggiungi</button>
      </form>
      <hr>
    
    <! Calcellazione di un nuovo tutor nel database>
    <div>
      <h2>
        Calcellazione dati Tutor
      </h2>
    </div>

    <div>
      <form action="" id="deleteTutor">
        <label for= "search"> Inserisci ID Tutor da Eliminare</label><br>
        <input type="number" id="idTutor" name="idTutor" >
        <button type="button" id="deleteValue" onclick= "deleteTutor()" >Cancella</button>
      </form>
    </div>
    <hr>
    
    <! Aggiornamento tutor dati tutor>
    <h2>
      Aggiornamento dati Tutor
    </h2>
    <div>
      <label for="id">ID</label><br>
      <input type="number" id="id" name="id" placeholder = "Inserisci ID tutor" >
    </div><br>
    <div>
      <div>
        <label for="id">Modifica</label>
        <button>Email</button>
        <button>Nuovo Esame</button>
      </div>
      <input type="text" id="valore" name="valore" placeholder = "Inserisci modifica" >
      <button type="button" id="changeValue" onclick= "updateTutor()" >Modifica</button>
    </div>
    
  </body>
  
  
  
  <script>
    let filtroEsame = false;
    let filtroEmail = false;
    let filtroNome  = false;
    let filtroCognome = false;
    let filtroUni   = false;
    let filtroCorso = false;

    //FUNZIONE PER RICERCARE UN TUTOR
    async function researchTutors(){
      const researchValue = document.getElementById("researchValue").value;
      
      if(!researchValue){
        alert("Inserire uno tutor.");
        return;
      }
      
      //opzioni per la fetch
      const options = {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        }
      };
      
      //eseguo la fetch
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/researchTutor', options)
      .then((response) => {
        if (response.ok) {
          alert("Nuovo tutor aggiunto!");
          return response.json();
        }
        alert('ERROR!Something went wrong!');
      })
      .catch(e => {
          console.log(e);
      });
      //pulisce la form
      document.getElementById("addTutor").reset();
    }
    
    //FUNZIONE PER MODIFICARE UN TUTOR
    function setFiltroNome(){
      let set = !filtroNome;
      
      return set;
    }
    
    function setFiltroCognome(){
      let set = !filtroCognome;
      return set;
    }
    
    function setFiltroEmail(){
      let set = !filtroEmail;
      return set;
    }
    
    function setFiltroUniversita(){
      let set = !filtroUniversita;
      return set;
    }
    
    function setFiltroCorso(){
      let set = !filtroCorso;
      return set;
    }
    
    function setFiltroEsame(){
      let set = !filtroEsame;
      return set;
    }
  
    //FUNZIONE PER AGGIUNGERE UN TUTOR
    async function addTutor(){
      
      //definisco i dati del nuovo tutor aggiungendo alcuni campi di default
      const newTutor = ({
        id: Date.now().toString(),
        name : document.getElementById("name").value,
        surname : document.getElementById("surname").value,
        email : document.getElementById("email").value,
        universita : document.getElementById("universita").value,
        corso : document.getElementById("corso").value,
        esami:[] 
      })
      //opzioni per la fetch
      const options = {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify(newTutor),
      };
      //eseguo la fetch
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/addTutor', options)
      .then((response) => {
        if (response.ok) {
          alert("Nuovo tutor aggiunto!");
          return response.json();
        }
        alert('ERROR!Something went wrong!');
      })
      .catch(e => {
          console.log(e);
      });
      //pulisce la form
      document.getElementById("addTutor").reset();
    }

    // FUNZIONE PER ELIMINARE UN TUTOR 
    async function deleteTutor(){
      const id = document.getElementById("idTutor").value
      //opzioni per la fetch
      const options = {
        method: 'DELETE'
      };
      //eseguo la fetch
      fetch('https://progetto-piattaforme-territorio.glitch.me/home/deleteTutor/'+ id, options)
      .then((response) => {
        if (response.ok) {
          alert("Tutor eliminato!");
          return response.json();
        }
        alert('ERROR '+ response.status +'! Something went wrong!');
      })
      .catch(e => {
          console.log(e);
      });
      //pulisce la form
      document.getElementById("deleteTutor").reset();
    }
  
    //FUNZIONE PER MODIFICARE UN TUTOR 
    async function updateTutor(){
      
    }
    
  </script>

  <! LISTA UNIVERSITA' PER AGGIUNGERE UN NUOVO TUTOR >
  <datalist id="nome-università">
    <!Università delle Marche>
    <option value="Università Politecnica delle Marche"></option>
    <option value="Università degli Studi di Camerino"></option>
    <option value="Università degli Studi di Macerata"></option>
    <option value="Università degli Studi di Urbino"></option>
    <!Università dell'Abruzzo>
    <option value="Università degli Studi Gabriele d'Annunzio"></option>
    <option value="Università degli Studi dell'Aquila"></option>
    <option value="Università degli Studi di Teramo"></option>
    <! Università della Basilicata>
    <option value="Università degli Studi della Basilicata"></option>
    <! Università della Calabria>
    <option value="Università degli Studi Magna Græcia di Catanzaro"></option>
    <option value="Università della Calabria"></option>
    <option value="Università degli Studi Mediterranea di Reggio Calabria"></option>
    <! Università della Campania>
    <option value="Università degli Studi di Napoli Federico II"></option>
    <option value="Università degli Studi di Napoli L'Orientale"></option>
    <option value="Università degli Studi di Napoli Parthenope"></option>
    <option value="Università degli Studi della Campania Luigi Vanvitelli"></option>
    <option value="Università degli Studi di Salerno"></option>
    <option value="Università degli Studi del Sannio"></option>
    <! Università dell'Emilia Romagna>
    <option value ="Alma mater studiorum - Università di Bologna"></option>
    <option value ="Università degli Studi di Ferrara"></option>
    <option value ="Università degli Studi di Modena e Reggio Emilia"></option>
    <option value ="Università degli Studi di Parma"></option>
    <! Università Fiuli Venzia Giulia>
    <option value ="Università degli Studi di Trieste"></option>
    <option value ="Università degli Studi di Udine"></option>
    <! Università del Lazio>
    <option value ="Università degli Studi di Cassino e del Lazio Meridionale"></option>
    <option value ="Università degli Studi di Roma Foro Italico"></option>
    <option value ="Università degli Studi di Roma La Sapienza"></option>
    <option value ="Università degli Studi di Roma Tor Vergata"></option>
    <option value ="Università degli Studi Roma Tre"></option>
    <option value ="Università degli Studi della Tuscia"></option>
    <! Università della Liguria>
    <option value ="Università degli Studi di Genova"></option>
    <!Università del Lombardia>
    <option value ="Università degli Studi di Bergamo"></option>
    <option value ="Università degli Studi di Brescia"></option>
    <option value ="Politecnico di Milano"></option>
    <option value ="Università degli Studi di Milano"></option>
    <option value ="Università degli Studi di Milano-Bicocca"></option>
    <option value ="Istituto Universitario di Studi Superiori"></option>
    <option value ="Università degli Studi di Pavia"></option>
    <option value ="Università degli Studi dell'Insubria"></option>
    <!Università del Molise>
    <option value ="Università degli Studi del Molise"></option>
    <! Università del Piemonte>
    <option value ="Università degli Studi del Piemonte Orientale Amedeo Avogadro"></option>
    <option value ="Università degli Studi di Torino"></option>
    <option value ="Politecnico di Torino"></option>
    <!Università della Puglia>

  </datalist>
  
</html>